{# Display a button #}

{# @param type ?string Button type (link/submit) #}
{# @param url ?string required for type link  #}
{# @param caption string #}

{% set type = type ?? 'link' %}

{#
You may think of using Tailwind's @apply statement here.
We would recommend to avoid it and build properly designed components.
#}

{% switch type %}

{% case "link" %}

    {% set external = external is defined ? external : false %}
    {% set openInNewTab = openInNewTab is defined ? openInNewTab : false %}

    <a class="overflow-hidden flex group items-center bg-white border border-gray-300 no-underline hover:bg-gray-500 hover:text-white transition-colors shadow-md px-3 py-1.5 rounded-sm"
       href="{{ url }}" {{ openInNewTab ? 'target="_blank"' }}>
        {{ caption }}

        {% if external %}
            {{ svg("@appicons/up-right-from-square.svg")|attr({class: 'ml-3 size-3 fill-gray-800 group-hover:fill-white transition-colors'}) }}
        {% endif %}
    </a>

{% case "submit" %}

    <button type="submit"
            class="block bg-brand-700 text-white border border-gray-300 hover:bg-brand-900 transition-colors shadow-md px-3 py-1.5 rounded-sm"
    >{{ caption }}</button>
    
{% endswitch %}