{# @param entry Entry #}

{% from '_macros/lib.twig' import img %}

{% set width = entry.blockWidth.value ?? 'default' %}
{% set fullHeight = entry.fullHeight %}


{% set transforms = {
    default: {width: 1024, height: fullHeight ? null : 440},
    slim: {width: 1024, height: fullHeight ? null : 440},
    wide: {width: 1024, height: fullHeight ? null : 440},
    wider: {width: 1024, height: fullHeight ? null : 440},
    max: {width: 1200, height: fullHeight ? null : 440},
    full: {width: 2000, height: fullHeight ? null : 440}
} %}


{% set classes = {
    default: '',
    wide: 'lg:-mx-24',
    max: 'xl:-mx-52 lg:-mx-20',
    full: 'full-width',
    slim: 'lg:mx-24'
} %}


{#
Adding eager loading for images here, 
however, based on average count of entries, this may not be significant.
Only measuring with real world data will tell.
#}

{# TODO: Adding 'withTransforms' on this level has no effect #}
{# TODO: Can be different for all image blocks, and add responsive sizes to the mix... #}
{# {% set image = entry.image.eagerly().withTransforms([transform]).one %} #}

{% set image = entry.image.eagerly().one %}

{% if image %}
    {# Apply negative margin for images with 'wide' style on larger screens #}
    <figure class="{{ classes[width] }}">

        {# Adjust transforms based on entry attributes #}
        {# TODO: Check srcsets #}
        {{ img(image, {
            transform: transforms[width]
        }) }}

        {# Add caption if one of caption or image copyright is present #}
        {% if entry.caption or image.copyright %}
            <figcaption class="max-w-screen-2xl mx-auto flex justify-between {{ width == 'full' ? 'px-4' }}">

                <div>
                    {{ entry.caption }}
                </div>

                {# We don't use an overlay here because having an overlay on the image and a caption below looks messed up. #}
                <div class="text-sm text-brand-500 ">
                    {% if image.copyright %}
                        ({{ 'Photo'|t }}: {{ image.copyright }})
                    {% endif %}

                    {# Work around bug in matrix field uri creation #}
                    <a class="font-normal text-gray-500 no-underline"
                       href="{{ entry.url ?? url("content/#{entry.id}") }}">{{ 'Details'|t }}
                    </a>

                </div>
            </figcaption>
        {% endif %}
    </figure>
{% endif %}