{# @param entry Entry #}

{% from '_macros/lib.twig' import img %}

{% set wide = entry.imageStyle.contains('wide') %}
{% set fullHeight = entry.imageStyle.contains('fullHeight')%}
{% set transform = wide ? {width: 1024, height: fullHeight ? null : 440} : {width: 825, height: fullHeight ? null : 350} %}


{#
Adding eager loading for images here, 
however, based on average count of entries, this may not be significant.
Only measuring with real world data will tell.
#}

{# TODO: Adding 'withTransforms' on this level has no effect #}
{# TODO: Can be different for all image blocks, and add responsive sizes to the mix... #}
{# {% set image = entry.image.eagerly().withTransforms([transform]).one %} #}

{% set image = entry.image.eagerly().one %}

{% if image %}
    {# Apply negative margin for images with 'wide' style on larger screens #}
    <figure class="{{ wide ? 'lg:-mx-24' }}">

        {# Adjust transforms based on entry attributes #}
        {# TODO: Check srcsets #}
        {{ img(image, {
            transform: transform,
            scrset: wide ?  [1024, 825, 400] : null
        }) }}

        {# Add caption if one of caption or image copyright is present #}
        {% if entry.caption or image.copyright %}
            <figcaption class="flex justify-between">
                <div>
                    {{ entry.caption }}
                </div>
                {% if image.copyright %}
                    {# Make that a bit smaller #}
                    {# We don't use an overlay here because having an overlay on the image
                    and a caption below looks messed up. #}
                    <div class="text-sm text-brand-500">({{ 'Photo'|t }}: {{ image.copyright }})</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}