{# Two columns block #}

{# @param entry Entry #}

{# Make sure md:col-span-(1-12) classes are safelisted in tailwind.config.js #}

{% set leftCols = entry.columnSpan.value ?? 6 %}
{% set rightCols = 12 - leftCols %}

{% set width = entry.blockWidth.value ?? 'default' %}

{% set bgcolor = entry.bgColor?? '' %}
{% set bgcolorwidth = entry.bgColorWidth.value ?? 'default' %}

{% if not bgcolor %}
    {% set bgcolorwidth = 'default' %}
{% elseif width == 'full' %}
    {% set bgcolorwidth = 'full' %}
{% endif %}

{% set classes = {
    default: '',
    wide: 'lg:-mx-24',
    max: 'xl:-mx-52 lg:-mx-20',
    full: '',
    slim: 'lg:mx-24'
} %}

{% set leftCol = entry.columnWrapperLeft.eagerly().one %}
{% set rightCol = entry.columnWrapperRight.eagerly().one %}

{% set html %}
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="col-span-1 md:col-span-{{ leftCols }} h-full">
            {% include '_partials/blocks.twig' with {
                query: leftCol.columnContent
            } only %}
        </div>
        <div class="col-span-1 md:col-span-{{ rightCols }} h-full">
            {% include '_partials/blocks.twig' with {
                query: rightCol.columnContent
            } only %}
        </div>
    </div>
{% endset %}

{% if bgcolorwidth == 'default' and (bgcolor or width in ['wide', 'slim', 'max']) %}
    {# Just one wrapper for extended width and/or background color #}
    <div class="{{ classes[width] }} {{ bgcolor ? 'p-8' : 'my-8' }}"
            {% if bgcolor %}
                style="background-color: {{ bgcolor }}"
            {% endif %}
    >
        {{ html }}
    </div>



{% elseif bgcolorwidth == 'default' and width == 'full' and not bgcolor %}
    {# Full width without background color #}
    <div class="full-width px-8 my-8">
        {{ html }}
    </div>



{% elseif bgcolorwidth == 'full'  and width == 'full' and bgcolor %}
    {# Full width with background color #}
    <div class="full-width p-8" style="background-color: {{ bgcolor }}">
        {{ html }}
    </div>


{% elseif bgcolorwidth == 'full' and width != 'full' and bgcolor %}
    {# Constraint width with full background color #}
    <div class="full-width p-8" style="background-color: {{ bgcolor }}">
        <div class="max-w-screen-md mx-auto">
            <div class="{{ classes[width] }}">
                {{ html }}
            </div>
        </div>
    </div>

{% else %}
    {# normal flow #}
    <div class="my-8">
        {{ html }}
    </div>

{% endif %}
